<!-- Footer -->
<footer class="page-footer font-small">
    <div class="row">
        <div class="col-md-5">
            <a class="navbar-brand" href="#home">
                <img width="70%" src="../../../assets/images/Logo.svg"  
                class="d-inline-block align-top">
            </a>
        </div>

        <div class="col-md-7">
            <div class="row flex-end">
                <div class="col-xs-2">
                    <a class="nav-link footer-text" href="#WhatIs">What is <span class="sr-only">(current)</span></a>
                </div>
                <div class="col-xs-2">
                    <a class="nav-link footer-text" href="#Contagion">Contagion <span class="sr-only">(current)</span></a>
                </div>
                <div class="col-xs-2">
                    <a class="nav-link footer-text" href="#Symptoms">Symptoms <span class="sr-only">(current)</span></a>
                </div>
                <div class="col-xs-2">
                    <a class="nav-link footer-text" href="#Prevention">Prevention <span class="sr-only">(current)</span></a>
                </div>
            </div>
        </div>
        
      
    </div>
  
    <!-- Copyright -->
    <div class="footer-copyright text-center">
        2020 @ All rights reserved
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->