.navbar{
  background-color: white;
}
.collapse .navbar-collapse {
  justify-content: flex-end;
  padding-right: 2vw;
}
.navbar-brand{
  margin-left: 5em;
}
.nav-link{
  font-size: 18px;
  color: #035755 !important;
}
.nav-link:hover{
  color: #fb4c47 !important;
}
@media(max-width: 320px){
  .navbar-brand{
    margin-left: 0;
  }
}
    