.nav-link{
  font-size: 18px;
  color: #035755 !important;
}
.nav-link:hover{
    color: #fb4c47 !important;
}
.navbar-main-wrapper .navbar-collapse {
    justify-content: flex-end !important;
    padding-right: 2vw !important;
}
    