/*Landing*/
.btn-more-information{
  width: 200px;
  height: 60px;
  border-radius: 65px;
  box-shadow: 0 8px 87px 0 rgba(0, 0, 0, 0.1);
  background-color: #fb4c47;
  border-color: #fb4c47;
  color: #fff;
  font-weight: bold;
}
.btn-pink{
    background-color: rgba(250, 86, 82, 0.15);
    color:#fa5652;
}
.div-section{
    padding-top: 3em;
}
.space-section{
    padding-top: 6em;
}
.card{
    box-shadow: 0px 0px 35px -12px rgba(0,0,0,0.75);
}
.card-body{
    height: 34em;
}
.card:hover{
    border-bottom: 4px solid #fa5652;
}
.card-text{
    font-size: 19px;
    line-height: 1.5em;
}
.eclipse-items{
    width: 75px;
    height: 75px;
    background-color: rgba(250, 86, 82, 0.15);
    border-radius: 50%;
}
.eclipse-number{
    color: #fa5652;
    font-size: 30px;
    font-weight: bold;
    padding: 0.8em 0.3em;
}
.number-size{
    font-size: 30px;
}
.text-reference{
    color: #4b4f51;
    font-size: 18px;
}
@media(max-width: 767px){
    .eclipse-items{
        width: 50px;
        height: 50px;
    }
    .eclipse-number{
        font-size: 24px;
        padding:0.5em;
    }
    .number-size{
        font-size: 27px;
    }
    .card-text{
        font-size: 15px;
    }
    .card-body{
        height: 30em;
    }
    .card-title{
        font-size: 20px !important;
        line-height: 1.2em;
    }
    .div-eclipse{
        padding-left: 0 !important;
    }
}
@media(max-width: 425px){
    .card-body{
        height: auto;
    }
    .div-eclipse{
        padding-left: 1em !important;
    }
}